[2019-01-16 22:17] denisrennes opened #1 "Clean-CMClientCache.ps1 commit 3f596a9 on Nov 30, 2018 : errors when multiple cache elements for the same package"
In Clean-CMClientCache.ps1 commit 3f596a9 on Nov 30, 2018 there is this comment:
"I don't know if there can be multiple cache items with the same ContentID"

I do know: yes it can be. In our context it is for the same package that was changed and then re-run : this creates new cache items with new location (subdirectory in the cache) where the new version is downloaded.

1. this is probably not ma

[2019-01-17 11:32] Ioan-Popovici commented on #1
Hmmm, I was almost sure that this will come back to haunt me. Was too lazy to test.
It can be fixed though as far as I know.
Will look into it when I come from back from vacation in February. Meanwhile you can use -ErrorAction ‘SilentlyContinue’ on the that particular commandlet to ignore the error.

[2019-02-07 20:16] Ioan-Popovici commented on #1
Hi,

I found the problem.

It’s not related to the content id that is handled ok in Get-CMClientCachedPackages the $PkgCacheInfo is supposed to return a list by design.
Also the cache item package association is working ok, it just returns two cache items to delete.

When investigating I found 4 other bugs, I will relaease a new version shortly.

Thanks for reporting this

<sub>Sent with <a href="

[2019-02-20 15:43] Ioan-Popovici opened #2 "DE Application Deployments by Computer or User for Collection add TopConsoleUser0"
Jay-r Barrios
Hi, thanks for sharing your report working just fine. Can I ask how do I add a “TopConsoleUser0” under /* Device collection query */ I want to reference it as the PrimaryUser in my report as I want to pinpoint who’s the primary user of the computer. Thank you in advance.

[2019-02-20 16:30] Ioan-Popovici commented on #2
Are you sure you don't want the primary user field?

[2019-02-21 03:12] jayrbarrios commented on #2
If we can have both TopUser and PrimaryUser it would be great!

[2019-02-21 17:11] Ioan-Popovici commented on #2
Done, added fields in all views except the package deployment view.
It's to complicated to do it there for the value it brings.
Read the changelog for more info

Cheers

[2019-02-21 17:11] #2 closed, assigned to Ioan-Popovici

[2019-02-22 03:23] jayrbarrios commented on #2
Many thanks, Ioan!

[2019-02-26 10:39] Ioan-Popovici opened #3 "[CB Configuration Baseline Compliance by Company with Values] - Add fields"
Jeffrey Ng
nice report. possible to add in computer model and last user login id?
thanks

[2019-02-26 10:40] Ioan-Popovici commented on #3
I will consider it but I can't give you and exact timeline

[2019-02-28 09:53] Ioan-Popovici opened #4 "Conversion failed when converting value to data type"
@Yevrag35

Running the report gives me:
![conversionfailed](https://user-images.githubusercontent.com/20248838/53521508-4bab2400-3aa6-11e9-98fd-ff69e80d7f49.png)
How do I begin debugging this?

[2019-02-28 09:55] Ioan-Popovici commented on #4
I have a lot of reports, which one are you refering to?

[2019-02-28 13:33] Yevrag35 commented on #4
Oh sorry, it's the "CB Configuration Baseline Compliance by Configuration Item with Values" one.

However, a colleague and I found the issue, we believe.  The ID's in the error correspond with 'AdminIDs' for Administrative users in SCCM.  And the issue only happens to users who are members of multiple groups and/or specified explicitly in the administrative users section in the console.

In my cas

[2019-02-28 13:38] Ioan-Popovici commented on #4
Hmm, I will look for a workaround, thanks for reporting this

[2019-02-28 13:44] Yevrag35 commented on #4
No problem, when I get into work, I will post the extra code that got it working.

[2019-03-06 17:09] Ioan-Popovici commented on #4
For now the simple workaround is to uncomment this line
`--DECLARE @UserSIDs     AS NVARCHAR(250) = 1;`
If it does not work you might need to replace the value with 'Disabled'

NOTE: This will disable the report security!

[2019-03-14 19:36] Ioan-Popovici commented on #4
Implemented workaround, upgraded report template and other optimisations.
Released v4.0

[2019-03-14 19:36] #4 closed, assigned to Ioan-Popovici

[2019-03-15 17:50] Ioan-Popovici commented on #1
#Released v4.0 - 2019-03-15

## Changes

    * Fixed error on ContentID with multiple CacheElementIDs
    * [Breaking] Changed the logic of the Get-* functions
    * [Breaking] Changed the logic of the Remove* functions
    * [Breaking] Changed the parameter name of the Remove-CacheElementFunction function
    * Added Orphaned WMI cache cleanup (Previously it was disk only)
    * Some code cleanup

[2019-03-15 17:50] #1 closed, assigned to Ioan-Popovici

[2019-03-22 09:56] Ioan-Popovici opened #5 "[SW SQL Server Products] - Show License Keys"
Hi Ioan,

Firstly I would like to say Thank you very much for writing the ‘SQL Version Detection and Reporting with SCCM’ article.  We have implemented the code and are currently monitoring the results.

I have been asked by my manager to “get all the SQL Licences/product keys for every SQL instance”.  Would it be possible for you to modify the code so that the SQL Licences/product keys are pulled

[2019-03-25 16:54] Ioan-Popovici commented on #5
I have found a way to do it but that does requires another hardware extension. You will need to enable gathering of a few registry keys. The problem is that the key is obfuscated and will require a sql or report function. Will probably figure it out by the end of next week.

[2019-03-26 19:07] KapilDham opened #6 "[CB Configuration Baseline Compliance by Configuration Item with Values] - Can't import the report into SQL 2014 SSRS instance."
Can't import the report into SQL 2014 SSRS instance. I did some reading and even changed the report definition to 2010 version but no luck.
I am getting the following alert:

The definition of this report is not  valid or supported by this version of Reporting Services. The report definition  may have been created with a later version of Reporting Services, or contain  content that is not well-for

[2019-03-27 11:40] Ioan-Popovici commented on #6
You can't import it because you use a 2014 SSRS. The report definition is for a 2016 SSRS.
Changing it to a lower level (2010) will not help you in any way. You either change the definition to match your SSRS (2014) and remove the unsupported elements or... you can just upgrade your SSRS instance, which would be much easier.

[2019-03-28 15:51] Ioan-Popovici commented on #6
Update. I removed the dependency on report definitons and was able to import. Now I see this message post import that:
The EXECUTE permission was denied on the object ‘fn_rbac_GetAdminIDsfromUserSIDs’, database ‘CM’, schema ‘dbo’.
Query execution failed for dataset ‘AdminID’. (rsErrorExecutingCommand)
 — — — — — — — — — — — — — —
An error has occurred during report processing. (rsProcessingAborted

[2019-03-28 16:00] Ioan-Popovici commented on #6
You don't have execute permission on that function. Please make sure that the account you are using for reporting has proper access to the database:

`EXECUTE AS LOGIN = 'DomainName\ReportingUserName';
SELECT * FROM fn_my_permissions('fn_rbac_GetAdminIDsfromUserSIDs', 'OBJECT')
    ORDER BY subentity_name, permission_name ;
REVERT;
GO;`

You could use the following command to grant execute on that

[2019-03-28 16:42] KapilDham commented on #6
I have DB Reader access for now and we are using SCCM 2016, do I need the db_datawriter access as well?

Kapil

[2019-04-15 16:38] Ioan-Popovici commented on #6
My mistake you need EXECUTE

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-18 10:01] zebox1 opened #7 "[Clean-CMClientCache.ps1] New version skips cache items"
Hello,

I had to revert to the version on Technet (v2.6 iirc) because your last version is cleaning only 10% of what the other script is cleaning. I tried with the most permissive switches but no luck, it ignores most of the content.

Regards

[2019-04-18 16:33] #6 closed, assigned to Ioan-Popovici

[2019-04-26 20:26] marshgm commented on #5
Have you considered in the reports for SQL version, to also add what Windows OS SQL is installed on?

[2019-04-29 09:30] matthewgnslue commented on #5
This can already be attained by joining using [ResourceID] to [v_R_System].[Operating_System_Name_and0] right?

[2019-05-01 18:24] Ioan-Popovici commented on #5
@marshgm Yes I will completely rewrite that report and possibly the detection method.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-01 18:25] Ioan-Popovici commented on #5
@matthewgnslue It’s a bit more complicated if you want to make sure you get the caption especially when having hwi issues. I already have a method for this.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-25 08:13] Ioan-Popovici opened #8 "[SW SQL Server Products] - Show CPU Core count"
Hello Ioan,
My colleague has successfully imported this report and gotten everything to work. Thank you, this makes us look good!
Would it be possible for an updated report with the count of processor cores on the server? I tried to it is way beyond my SQL knowledge.

[2019-05-25 08:20] Ioan-Popovici commented on #5
Had some work related tasks that took priority over the blog requests.
These are now complete, resuming work...

[2019-05-30 15:05] Ioan-Popovici commented on #5
Simplified WMI WQL query, selecting only what’s needed, much less noise now.
Need to add SRS, IP, Port and license info.
Will try to make one WMI instance per SQL instance but I don’t know if it’s possible with WQL.
If we cant have everything neatly in one place, I will move the processing in the reporting query.

[2019-05-31 17:11] Ioan-Popovici commented on #5
Dropped SRS, IP, Port for now. I don't see the value of adding these. Feel free to comment if you disagree.
Optimized WQL queries and definitions. Updated HWI classes so that they do not clash with the old ones.
Remaining task on the extension side:
* Add License info
* Better naming for database tables and views

[2019-06-06 15:14] Ioan-Popovici commented on #5
Just committed the final version of the WMI extension
I’m pretty sure that ProductID info will not work for anything below SQL 2012

Remaining tasks:
* SQL Query
* SSRS Report

[2019-06-06 15:21] Ioan-Popovici commented on #3
On hold until I manage to catch up with other open issues

[2019-06-06 15:23] Ioan-Popovici commented on #8
Waiting on issue https://github.com/SCCM-Zone/sccm-zone.github.io/issues/5

[2019-06-14 17:50] Ioan-Popovici commented on #5
This was a bit complicated due to my limited understanding of how SQL does stuff.

In order to simplify the query and not duplicate code, I created a [stored procedure](https://github.com/SCCM-Zone/sccm-zone.github.io/blob/master/Reporting/User_Defined_Functions/usp_PivotWithDynamicColumns.sql) for pivoting SQL WMI data directly that supports dynamic columns.

Before:
![Screen Shot 2019-06-14 at 2

[2019-06-18 17:20] Ioan-Popovici commented on #5
Released v2.0-prerelease of the SQL Products query. Report will follow.

# This is a pre-release version!

Completley re-written, adds functionality to see Product Key and many other SQL properties. I will add a changelog later.

## Known issues:

 * Version0 and Version do not store the same value type in all tables. Need to modify the mof extension.

## Remaining tasks:

* mof file bugfix
* SSRS

[2019-06-19 10:19] GENICT opened #9 "[Request] Custom Folders and User Profile(s) Size"
For Migration Projects or other use cases, the size of custom folders created by users or the user profiles size report (with actual values) could be very useful. As described before on twitter, the CI detection scripts are stored in this Technet Forum thread https://social.technet.microsoft.com/Forums/en-US/0c315e9b-fe44-477b-9964-818a4089fb8b/folder-size-report-for-spcific-device-collection?foru

[2019-06-19 13:55] matthewgnslue commented on #8
This data is stored in the [dbo].[v_GS_PROCESSOR] VIEW.  You can summarise this data using the below query:

SELECT
	DISTINCT(CPU.SystemName0) AS [System Name],
	CPU.[ResourceID],
	CPU.Manufacturer0 AS Manufacturer,
	CPU.Name0 AS Name,
	COUNT(CPU.ResourceID) AS [Number of CPUs],
	CPU.NumberOfCores0 AS [Number of Cores per CPU],
	CPU.NumberOfLogicalProcessors0 AS [Logical CPU Count]
 FROM
	[dbo].[v

[2019-06-19 14:42] Ioan-Popovici commented on #8
Hi yeah I know thanks. I did not manage to get to it because I'm working on a new version of the report (https://github.com/SCCM-Zone/sccm-zone.github.io/issues/5).
But it will be in the query by the end of today.

[2019-06-19 15:47] Ioan-Popovici commented on #8
Just pushed the modification on the new query. I hope I'll have the report ready by tomorrow.
Have a look and let me know if this is ok:
![Screen Shot 2019-06-19 at 18 43 04](https://user-images.githubusercontent.com/17069425/59780483-b9cc5e80-92c2-11e9-9fb3-47e1a03dd425.png)

[2019-06-19 15:50] Ioan-Popovici commented on #5
#Added new fields
Domain, OS, IsVirtualMachine, CPUs, CPUCores, LogicalProcessors
Have a look and let me know if anything else is needed:
![Screen Shot 2019-06-19 at 18 43 04](https://user-images.githubusercontent.com/17069425/59780711-16c81480-92c3-11e9-90fc-3657c559c2ba.png)

[2019-06-19 16:20] matthewgnslue commented on #5
Looks great to me - it's got all the information I need :-)

[2019-06-19 17:57] marshgm commented on #5
Looks good. This has everything I need, this will be a big help.
Thank you...

[2019-06-19 18:31] Ioan-Popovici commented on #5
Ok, now I have to figure out how to get that stored procedure in the report, it seems it does not work with the inline query in Report builder, although it works fine in SSMS. If I can’t figure it out (unlikely) you might need to add that stored procedure manually (paste in SSMS + Run). I hope that the report will be ready tomorrow so you guys will be the fist to test it until I update the blog po

[2019-06-24 15:32] Ioan-Popovici commented on #5
Hi guys , I'm about to finalize the design, can you please check if the report has everything you need?
I removed some of the fields that I thought not to be useful. This is your chance to change my mind :)
# Report

![Screen Shot 2019-06-24 at 18 21 45](https://user-images.githubusercontent.com/17069425/60031785-05f61500-96ae-11e9-858b-3931fbfdd60b.png)

# All fields

![59705159-7f04f080-9206-11e

[2019-06-24 15:49] Ioan-Popovici commented on #8
Added in #5.
Technically it's not yet released yet but since the functionality has been added and will be released soon there is no need to keep this ticket open.

[2019-06-24 15:49] #8 closed, assigned to Ioan-Popovici

[2019-06-24 16:02] matthewgnslue commented on #5
Hi @Ioan-Popovici .  The only item no longer present which I think may be important to licensing is "Clustered" state.  Other than that - all good for me.

[2019-06-24 18:35] marshgm commented on #5
It looks good.

[2019-06-24 21:06] Ioan-Popovici commented on #5
Will add the clustered back, thanks for the feedback :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-25 17:27] Ioan-Popovici commented on #5
Hi @matthewgnslue,

	I finished the report but I’m having trouble with the VB.net script for the key deobfuscation.
I’ve tested it in an online compiler and it works but in the report it keeps returning  #Error.
I don’t have visual studio so I can do proper debugging but I will install it tomorrow because like this I have zero error output.

Meanwhile please have a look at it, I've been at it all

[2019-06-26 07:04] matthewgnslue commented on #5
Sorry @Ioan-Popovici .  I don't have any VB knowledge, so I can't help on this unfortunately.

[2019-06-26 07:20] Ioan-Popovici commented on #5
@matthewgnslue Eh... ‘tis but a flesh wound. I’ll figure it out once I can have some error reporting with vb studio :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-06-28 22:29] Ioan-Popovici commented on #5
Report is finished, will get it to you for testing tomorrow. It took me a while to learn how to set up visual basic for reporting. I should have done that from the start, once I saw the error it was fixed in 5 minutes.

[2019-06-28 23:44] Ioan-Popovici commented on #5
Released v2.3~beta [SW SQL Server Products](https://github.com/SCCM-Zone/sccm-zone.github.io/tree/master/Reporting/Software/SW%20SQL%20Server%20Products)

Please let me know if you have any problems with it.

[2019-07-01 11:51] Ioan-Popovici commented on #5
I forgot, you’ll also need the [PivotWithDynamicColumns](https://github.com/SCCM-Zone/sccm-zone.github.io/blob/master/Reporting/User_Defined_Functions/usp_PivotWithDynamicColumns.sql) stored procedure!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-02 10:09] matthewgnslue commented on #5
Hi @Ioan-Popovici
I’m testing the SW SQL Server Products.sql script.  I’m having an issue with the population of the temp table (#SQLProducts) (done with the dbo.usp_PivotWithDynamicColumns stored procedure).
The names of the VIEWS don’t match the views that I have present.  Please see the below screenshot:

![image](https://user-images.githubusercontent.com/48794619/60504496-a4d7ce00-9cb9-11e9-94

[2019-07-02 10:41] Ioan-Popovici commented on #5
The previous version is not compatible with the new one. The new one gathers far less info and is in a different format.
You need to update everything including the definitions. Do not change anything in the stored procedure.

I don’t remember if I changed the definitions to a new naming schema so they can coexist with the old definitions. That might be something I would need to address.

The corr

[2019-07-03 12:31] Ioan-Popovici commented on #5
Hi,

There is an issue brought to my attention by @matthewgnslue .
My recommendation is to remove the old extension and replace it with the new one because the old data is not compatible with the new report. So if you don’t need the the old report and can wait for the old data to be recollected please delete the old definitions.
You can then replace the extension in configuration.mof and add a sta

[2019-07-04 15:51] Ioan-Popovici commented on #5
# Old Extension Cleanup Code

[code]

[HWI EXT SQL Property.mof](https://github.com/SCCM-Zone/sccm-zone.github.io/blob/master/Reporting/Software/SW%20SQL%20Server%20Products/HWI%20EXT%20SQL%20Property.mof)

# Updated installation procedure

* Copy/Paste the content of the EXT files between the extension headers in configuration.mof. Overwrite the old sql extension if present or add the new extensi

[2019-07-05 12:10] alexchurch22 opened #10 "How to set up "usp_PivotWithDynamicColumns"?"
I'm gathering the data correctly via the Hardware Inventory, but I'm unable to get the report in Reporting Services to work. The file mentions that has a few requirements that I'm not familiar with. Can you provide some basic instructions on how to meet these requirements?

- Requires the usp_PivotWithDynamicColumns stored procedure.
- Requires SQL Property and ProductID extensions.

[2019-07-05 12:20] Ioan-Popovici commented on #10
I’ll update the post today.

For more info look at:
https://github.com/SCCM-Zone/sccm-zone.github.io/issues/5

[2019-07-05 22:20] Ioan-Popovici commented on #10
#Clarification

* The usp_PivotWithDynamicColumns is a stored procedure needed in for the sql report
* The SQL Property and ProductID are hardware inventory extensions for gathering sql data. If you already doing this with my old extension you need to implement the new one as the old dataset is not really compatible with the new report.

Closing request

<sub>Sent with <a href="http://githawk.com"

[2019-07-05 22:20] #10 closed, assigned to Ioan-Popovici

[2019-07-09 20:27] alexchurch22 opened #11 "[SW SQL Server Products] - Report Error"
I'm using the latest HINV Classes and Configuration.mof properties and have let them sit in our environment for four days or so (with daily hardware inventories). I'm also using the latest copy of the SQL report. I'm getting an error when trying to generate a report.

An error has occurred during report processing. (rsProcessingAborted)
Query execution failed for dataset 'SQLProductInfo'. (rsError

[2019-07-09 21:26] Ioan-Popovici commented on #11
Probably a wrong assumption that the BIT declared variables can only have values of 0 or 1. Will look into it tomorrow (actually today it’s past midnight), I may ask you to run a query some query to confirm.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-10 14:11] matthewgnslue commented on #5
Hi Ioan,

I've doing some testing.  I've run into an issue where executing the dbo.usp_PivotWithDynamicColumns stored procedure with the @TableName = N'dbo.v_GS_EXT_SQL_2014_Property0' does not produce the results the #SQLProducts is expecting.  Please see the below screenshot:

![image](https://user-images.githubusercontent.com/48794619/60975985-c3c30980-a324-11e9-932f-944b2ef56623.png)

[2019-07-10 14:45] Ioan-Popovici commented on #5
I'll have a look, probably that parameter does not exist in 2014. I need change the parameter type and add a N/A if the value does not exist so the insert does nor crash and burn.

Can send me an output for the dbo.v_GS_EXT_SQL_2014_Property0 ? 1-2 machines should suffice.

I'll get on it tomorrow.

Thanks a lot for your help
Ioan

[2019-07-10 14:47] Ioan-Popovici commented on #11
Seems that another user has found the issue here: https://github.com/SCCM-Zone/sccm-zone.github.io/issues/5

Some parameters are missing in the older SQL versions. I will push an update tomorrow.

Thank you for reporting this

[2019-07-10 15:06] matthewgnslue commented on #5
Thanks Ioan,

[dbo.v_GS_EXT_SQL_2014_Property0_Sample.zip](https://github.com/SCCM-Zone/sccm-zone.github.io/files/3378137/dbo.v_GS_EXT_SQL_2014_Property0_Sample.zip)

Please see the attached sample (it's a CSV file, but zipped as CSV isn't supported by GitHub).

[2019-07-10 17:10] Ioan-Popovici commented on #5
Hmmm, no parms missing, just out of order so the insert does not know what to to with it... weird, i’ll have a closer look tomorrow.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-10 17:15] Ioan-Popovici commented on #5
Aaah... properties are not in the same order and since the pivot is dynamic, it outputs the result in what order it found the property names. A named insert should fix it.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-11 14:08] Ioan-Popovici commented on #5
I managed to test the query on a much bigger dataset than my current lab could offer, found the problem and also a few other bugs. (It will be in the changelog)

I used the larger dataset to validate some of the results and it seems that as far as I can tell the query returns accurate data. The mof optimization to gather only sql service data (ServiceType = 1) works better than expected, discardin

[2019-07-11 14:11] Ioan-Popovici commented on #11
I managed to test the query on a much bigger dataset than my current lab could offer, found the problem and also a few other bugs. (It will be in the changelog)

I used the larger dataset to validate some of the results and it seems that as far as I can tell the query returns accurate data. The mof optimization to gather only sql service data (ServiceType = 1) works better than expected, discardin

[2019-07-12 14:19] Ioan-Popovici commented on #5
Hi @matthewgnslue,

I've revised the stored procedure and sql query to fix the issues below.

# Released v2.4~beta SW SQL Server Products

## Changes

* Added static column pivot to have predictable column order output
* Fixed x64 detection
* Added new EditionGroup definitions
* Default ’N/A’ if NULL Edition
* Default NULL for all CASE statements
* Removed not used columns

Please have a look if t

[2019-07-15 12:28] Ioan-Popovici commented on #11
# [Released v2.5 SW SQL Server Products](https://github.com/SCCM-Zone/sccm-zone.github.io/commit/10fb5e15bef5ed54386b2272bd4d73683df82be5#diff-2bf3e497db780df4efc6d9f4fb09f3ad)

## Changelist

* Added edition group filter with multiple selections
* Added CEIP Reporting (Customer Experience Improvement)
* Removed unused fields
* Fixed SKUName
* Updated formatting

Please let me know if this fixes t

[2019-07-15 12:33] Ioan-Popovici commented on #5
# [Released v2.5 SW SQL Server Products](https://github.com/SCCM-Zone/sccm-zone.github.io/commit/10fb5e15bef5ed54386b2272bd4d73683df82be5#diff-2bf3e497db780df4efc6d9f4fb09f3ad)

## Changelist

* Added edition group filter with multiple selection
* Added CEIP Reporting (Customer Experience Improvement)
* Removed unused fields
* Fixed SKUName
* Updated formatting

Please let me know if this fixes th

[2019-07-15 15:50] alexchurch22 commented on #11
I'm unable to import the updated .RDL file. I get the error below. My SQL reporting services site is running on SQL 2016.

An error has occurred.

 The definition of this report is not valid or supported by this version of Reporting Services. The report definition may have been created with a later version of Reporting Services, or contain content that is not well-formed or not valid based on Repo

[2019-07-16 06:31] Ioan-Popovici commented on #11
Yeah, I’m using SSRS 2017. Just edit the file with a text editor and replace the definition header with a header from one of your reports. It will tell you then which elements are not supported and you can remove them one by one. Be sure to remove the open and close tags for those elements. I don’t have a 2016 SSRS available at the moment to get you a compatible report file, but I’ll try to build

[2019-07-16 06:56] matthewgnslue commented on #5
Hi @Ioan-Popovici ,

I can confirm that this is working for me.  I'll be doing some deeper dives into the data in the coming days.

Many thanks

[2019-07-16 07:00] Ioan-Popovici commented on #5
Hi @matthewgnslue,

That’s great please let me know if you find any inconsistencies :)

Thanks

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-16 19:41] alexchurch22 commented on #11
The 2017 file seems to be formatted differently. The 2016 one I exported from my SSRS site is in XML format at the one you've uploaded looks to be HTML. I don't see a way to convert it.

[2019-07-17 08:55] Ioan-Popovici commented on #11
I just looked at the report definitions and they haven't changed. You are probably downloading the file wrong. Always right click the raw version if you want to download the file.
Here is the link https://github.com/SCCM-Zone/sccm-zone.github.io/raw/master/Reporting/Software/SW%20SQL%20Server%20Products/SW%20SQL%20Server%20Products.rdl

[2019-07-17 08:56] Ioan-Popovici commented on #5
# Released v2.6.0 SW SQL Server Products

### Changes

* Added GetSQLProductKey.vb to the project folder
* Added the ability to hide the product key
* Fixed a typo

Closing issue

[2019-07-17 08:56] #5 closed, assigned to Ioan-Popovici

[2019-07-17 13:12] alexchurch22 commented on #11
Yup, that was it. Got it to import and run now. Looks good. It looks like on my end that SQL 2016 is being grouped to together, but the value under the "Release" column is blank. I also have one of SQL 2014 being classified as "SQL Unknown". What details can I provide?

[2019-07-17 16:22] Ioan-Popovici commented on #11
A screenshoot would be nice.
I get the release from the CUVersion so if that is visible I can see where things go boom.
However it should not be possible for the release to be blank...

[2019-07-17 17:12] alexchurch22 commented on #11
Here's the one with the blank column that I believe is SQL 2016:

![Screenshot1](https://user-images.githubusercontent.com/50494538/61395854-09835300-a88c-11e9-819b-1224df1daf73.png)

Here's the "SQL Unknown" one.

![Screenshot2](https://user-images.githubusercontent.com/50494538/61395889-19029c00-a88c-11e9-9919-f2c87c99543d.png)

[2019-07-17 19:31] Ioan-Popovici commented on #11
# [Released 2.6.3](https://github.com/SCCM-Zone/sccm-zone.github.io/tree/master/Reporting/Software/SW%20SQL%20Server%20Products)

## Blank release bug
I've updated the release definitions from here: https://sqlserverbuilds.blogspot.com/

## 'SQL Unknown' (SQL 2014)
The file version is missing and I'm also using the first four characters (2014) to match the license key to the SQL instance so I don'

[2019-07-17 19:38] wespowell commented on #11
Thanks for posting an update to the SQL. I saw the issue yesterday and updated my rdl file manually. I am having a small issue and its really not a big deal but the Clustered value is always coming back as 0. If I manually run the query against wmi and the SqlServiceAdvancedProperty it does return a 1 which should indicate a Yes. But what is in the database is a 0. I ran the query with and without

[2019-07-17 20:01] Ioan-Popovici commented on #11
Hi @wespowell,

Your assumption that the SQLServiceType value stands for Clustered is incorrect as you can see below:

# [SqlServiceType Property (SqlServiceAdvancedProperty Class)](https://docs.microsoft.com/en-us/sql/relational-databases/wmi-provider-configuration-classes/sqlserviceadvancedproperty-class/sqlservicetype-property-sqlserviceadvancedproperty-class?view=sql-server-2017)
## Property V

[2019-07-17 20:07] Ioan-Popovici commented on #11
I'm going to close this issue since the original problem was fixed.
Feel free to open another issue if you find a bug or need assistance.
Please open a separate issue for each request type :D

Thank you all for your contribution
Ioan

[2019-07-17 20:07] #11 closed, assigned to Ioan-Popovici

[2019-07-17 20:11] Ioan-Popovici commented on #7
Hi @zebox1,

Sorry for the delay in handling this issue. Can you please post the full command you ran to clean the cache?
Also please use the -Debug and -Verbse switches and attach the log file.

Thank you
Ioan

[2019-07-17 20:12] wespowell commented on #11
Thanks for the quick response. I will see about sending you some info from wmi.

[2019-07-17 20:17] Ioan-Popovici commented on #11
You can use [WMI Explorer](https://github.com/vinaypamnani/wmie2/releases/tag/v2.0.0.2)
It's arguably one of the best tools for the job.
I could be also a registry value but that would require another class which I would want to avoid if possible.

[2019-07-19 20:16] nlvw opened #12 "[Clean-CMClientCache.ps1] Remove-CCMOrphanedCache Breaks Active Downloads"
Just as a disclaimer this may be an edge case because it mostly effects an aggressive and automated use of this script.

If Software Center is actively downloading an application to install and this script runs then the Remove-CCMOrphanedCache function will try to delete the directories being used to download the content (Example Folders Being  "1" and "1.BDRTEMP")

Script Version = 4.0
Command Ru

[2019-07-19 20:58] nlvw commented on #7
Testing v4.0 of the script I am hitting a similar issue.

`Clean-CMClientCache.ps1 -CleanupActions ALL -LoggingOptions Host,File  -Verbose`

Log:

The cache item above was not deleted and it did not show the cache items for "Uninstall Content".  In this run there should have been 4 other cache entries.

 What I noticed is that if an applications Uninstall Content is set to be the same as the Insta

[2019-07-20 09:28] Ioan-Popovici commented on #7
I’ll have a look. Can you also include the -Debug switch?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-20 09:31] Ioan-Popovici commented on #12
It shouldn’t because I’m checking if the download is complete. I’ll do some tests myself and then get back to you.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-22 17:46] nlvw commented on #7
So I ran the command again but with the debug flag and here was the results.

This time it correctly found and removed all the cache items.  I'll link the log file since it contains the runs that did not find the other cache items or remove the one item it did find.  The only thing that changed on the current run is that a few days have passed between runs.
[Clean-CMClientCache.log](https://github

[2019-07-23 06:52] Ioan-Popovici commented on #7
If you look at the ‘failed’ cleanup it says
‘AboveReferencedThreshold’. Did you specify the  ReferencedThreshold manually?
Because if you did it works as designed.
The cache will only be deleted if it was not Referenced  that the specific number of days you specify at runtime.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-23 18:53] nlvw commented on #7
I was leaving the Reference flag not defined since the default is documented as "0".  I tried manually specifying zero with the same result.

It feels like the 0 setting only deletes cache items that are 1 day old since last reference.

Basically as long as the the cache item is not part of a pending, active, or scheduled deployment I want it to delete.  I don't care about last reference time or r

[2019-07-23 19:33] nlvw opened #13 "[Clean-CMClientCache.ps1] Get-CCMCachedApplications Does Not Handle Uninstall Content"
First of all thank you for this amazing script and making it publicly available!

This bug is for v4.0 version of the script which is the latest at the time of this writing.

Through testing I noticed that the function Get-CCMCachedApplications only handles install content for deployment types.  This means that if a deployment type has separate uninstall content (which will have a different conten

[2019-07-23 19:50] nlvw commented on #12
Not sure what the correct behavior is but what I have noticed is that while software center is downloading something to cache it does not exist in WMI.  In-fact it doesn't seem to be added to WMI until it finished downloading.

By WMI I'm referencing this call  `$WmiCacheInfo = $($CCMComObject.GetCacheInfo().GetCacheElements())`

[2019-07-23 20:31] nlvw commented on #13
I was going to put in a pull request for the fix (I've tested it and it seems to be working without issue) but i'm having trouble cloning my forked repo.  I'll attach the updated PS1 script (The change is at line 727).

Edit: Zipped the wrong file / here's the correct one.[Clean-CMClientCache-Fixed.zip](https://github.com/SCCM-Zone/sccm-zone.github.io/files/3424005/Clean-CMClientCache-Fixed.zip)

[2019-07-23 21:13] nlvw commented on #7
I located my ReferenceThreshold issue.  For whatever reason my Last Reference Time is being set 6 hours ahead of the actual time it was last referenced.  That seems like a client configuration issue i'll need to track down and not so much a problem with the script (Unless this 6 hour offset is not a configuration issue and is standard practice by the client).

[2019-07-24 04:35] Ioan-Popovici commented on #7
Hmm... shouldn’t. Maybe it’s stored in UTC?
I haven’t had time to look at the code yet but you could try with setting the Reference flag to -1. I don’t remember exactly what I did but it should work.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-24 04:44] Ioan-Popovici commented on #13
Thanks! I’ll have a look at it next week. I don’t have access to my laptop until then.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-24 08:59] Ioan-Popovici commented on #13
Merged, thanks a lot for your contribution :)
Closing issue !

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-24 08:59] #13 closed, assigned to Ioan-Popovici

[2019-07-25 05:50] Ioan-Popovici commented on #7
These two fixes should cover the issue. Feel free to reopen this issue if any more cleanup problems pop up.
Thanks again @Wolfereign for the fixes.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-25 05:50] #7 closed, assigned to Ioan-Popovici

[2020-02-17 15:07] fcojavierm opened #16 "Deployment status and report not matching"
Hi,
I’m getting odd results
Deplyment Status shows 3 Non-compliant machines
https://imgur.com/2WJQJIo
but in the report all machines are grouped into compliant.
https://imgur.com/yXoA7V7

Sccm version is 2012

[2020-02-17 15:48] Ioan-Popovici commented on #16
Let me get this right:

Machines that show non-compliant in the console show compliant in the report?

Can you make a screenshoot of the compliance rules you use or export the baseline so I can have a look at it?

I need to put this in my test environment so I can reproduce the issue.

Thanks
Ioan

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-29 09:42] ramg1967 opened #17 "SQL Server Product and Version Reporting with SCCM"
Hi - When, I run the report, I get this error.  I have full access to DB.  Do, I need to change any permission within the DB?

Error Message:
An error has occurred during report processing. (rsProcessingAborted)
Query execution failed for dataset 'AdminID'. (rsErrorExecutingCommand)
Cannot find either column "dbo" or the user-defined function or aggregate "dbo.fn_rbac_GetAdminIDsfromUserSIDs", or

[2020-03-29 16:03] svillama commented on #17
Hi - I got this error.
Microsoft.Reporting.WinForms.ReportServerException
An error has occurred during report processing. (rsProcessingAborted)

Stack Trace:
   at Microsoft.Reporting.WinForms.ServerReport.ServerUrlRequest(Boolean isAbortable, String url, Stream outputStream, String& mimeType, String& fileNameExtension)
   at Microsoft.Reporting.WinForms.ServerReport.InternalRender(Boolean isAbort

[2020-03-29 19:20] Ioan-Popovici commented on #17
@Svillama please use the newest version of the report v2.6.5. The extension and definitions for version v2.6.4 were not tested and were incorrect.
I’ve updated the definitions, extensions and report today.

[2020-03-30 09:50] Ioan-Popovici commented on #17
@ramg1967 What version of SCCM are you using? The "dbo.fn_rbac_GetAdminIDsfromUserSIDs" is an essential function and it's available from SCCM 2012 R2

[2020-03-30 11:27] Ioan-Popovici commented on #16
I've reproduced this, looking for the bug

[2020-03-30 13:49] ramg1967 commented on #17
@Ioan-Popovici - CB1910

[2020-03-30 15:24] Ioan-Popovici commented on #17
@ramg1967
Modify the code below at 'YOUR_SITE_CODE' with your site code, run it in SSMS (SQL Server Management Studio) and post the results here.

[code]

[2020-03-30 15:31] ramg1967 commented on #17
Query completed successfully.
fn_rbac_GetAdminIDsfromUserSIDs	709681676	FN	1	0	0	0	0	0	2019-01-06 16:25:24.457	0	0	0	FN	0	0	0	2019-01-06 16:25:24.457	0	0	0	0	0	0	0

[2020-03-30 16:44] Ioan-Popovici commented on #17
Are any of the pre-installed reports working? All of them use this function in this exact form.

[2020-03-30 17:21] ramg1967 commented on #17
Here is pre installed report from CB1910.

[cid:image001.png@01D60695.946C7D40]

Thanks

Ram

WWW.INFOTECHRAM.COM<http://WWW.INFOTECHRAM.COM>

From: Ioan Popovici <notifications@github.com>
Sent: 30-Mar-2020 12:44 PM
To: SCCM-Zone/sccm-zone.com <sccm-zone.com@noreply.github.com>
Cc: Ram <ram@ramlan.ca>; Mention <mention@noreply.github.com>
Subject: Re: [SCCM-Zone/sccm-zone.com] SQL Server Product

[2020-04-02 08:44] Ioan-Popovici commented on #17
I can't see the image but I presume it's working.

Is the CM_DB SQL server different from the SSRS DB Server?

[2020-04-02 08:46] Ioan-Popovici commented on #17
Please join this discord server it's easier to communicate
https://discord.gg/PWwVMe

[2020-04-23 15:07] RearAdm opened #18 "SQL 2019 Reporting"
I have followed your steps to update our SQL version info in SCCM but our SQL 2019 server does not report having SQL 2019 installed.  I have done the following:

Added the HWI Extension to configuration.mof and compiled
Added HWI definitions to Default Client Settings and deployed an updated Client settings to the 2019 SQL server
I see the new extensions listed in Hardware Inventory Classes
I see

[2020-04-23 20:11] Ioan-Popovici commented on #18
Hi @RearAdm,

I thought I fixed that in my last commit, but it seems I missed one mistake.

Replace the SQL extension in the `configuration.mof` file, recompile and you should be golden

Here's a link to the extension:
https://snippets.cacher.io/snippet/b6321fe05d176fc1d5a3

[2020-04-24 09:22] Ioan-Popovici commented on #18
Should be fixed closing issue.
Please let me know if you have any other problems

[2020-04-24 09:23] #18 closed, assigned to Ioan-Popovici

[2020-04-24 09:25] Ioan-Popovici commented on #12
I don’t think there is anything I can do about this. You could use the orphaned cache deletion which will address this issue.

[2020-04-24 09:25] #12 closed, assigned to Ioan-Popovici

[2020-04-24 09:27] Ioan-Popovici commented on #3
This report is being rebuild, I’ll consider this in the new version

[2020-04-24 09:27] #3 closed, assigned to Ioan-Popovici

[2020-04-24 09:28] Ioan-Popovici commented on #17
Closing due inactivity, please reopen if you have more info

[2020-04-24 09:29] #17 closed, assigned to Ioan-Popovici

[2020-04-24 09:31] Ioan-Popovici commented on #9
Of this is still needed I have some time to work on this now. If there’s no reply for 3 days I will close this issue.

[2020-04-24 09:33] Ioan-Popovici commented on #16
I will rebuild the report and separate the compliance with actual values report that’s causing this into a different section. Compliance for that section is irrelevant since the value is gathered only if a non compliant rule is used.

[2020-04-26 15:06] RearAdm commented on #18
Thanks very much Ioan! I think that resolved the issue.

On Thu, Apr 23, 2020 at 4:12 PM Ioan Popovici <notifications@github.com>
wrote:

[2020-06-02 14:24] PhilAitman opened #19 "Clean-CMClientCache Not detecting or removing most content."
Hi loan,
I was looking to upgrade from the Technet version of this script (as this version seems so much more polished!) however I'm noticing in testing that most of the content in my test devices cache's is being skipped over.
I'm using the following Parameters:
Action = All
FreeSpace = 100
OlderThan = 0
$RemovePersisted = $true
SkipSuperPeer = $false

For Example on one Server I have 10 Cache En

[2020-06-02 14:28] PhilAitman commented on #19
Running the Script on the above server just gives me the following output.
VERBOSE: Perform operation 'Enumerate CimInstances' with following parameters, ''namespaceName' = Root\ccm\SoftwareUpdates\UpdatesStore,'className' = CCM_UpdateStatus'.
VERBOSE: Operation 'Enumerate CimInstances' complete.
[06-02-2020 15:27:30.843] [Main:CleanupResult] [Clean-CMClientCache] ::

FullName          :
Name

[2020-06-02 14:33] Ioan-Popovici commented on #19
Hmmm... thanks I'll have a look tomorrow if I can and post the results here.
I may have to get some script results from you.

[2020-06-02 14:53] PhilAitman commented on #19
I'm more than happy to help, your Powershell FU is much greater than mine.
I've stepped through the script and can't see anything obvious to my eye except the obvious that I'm not getting any match for the updates in the cache from around Line 977

            ## Get cached update info
            ForEach ($Update in $Updates) {

                ## Show the progress
                $ProgressCounte

[2020-06-02 14:56] Ioan-Popovici commented on #19
Yes, don't delete the items that are in the cache now so we can troubleshoot.
I'll look into it tomorrow :D

[2020-10-26 10:16] RobinBeismann commented on #19
Hey @Ioan-Popovici ,

I just stumbled into the same. I verified it by checking the CCM Cache manually and found for example KB4556813 which is not being detected by this script.
I was also able to find out why this is the case.
This update is no longer included in the WMI Query `Get-CimInstance -Namespace 'Root\ccm\SoftwareUpdates\UpdatesStore' -ClassName 'CCM_UpdateStatus' ` because it is no long

[2020-12-14 17:53] SCCMWalker opened #21 "Error On Line 831 - When No User Has Logged Onto Device"
Howdy Ioan,

I found an issue if you have no users that have logged onto the device yet, at least in my environment, you get an error when trying to populate the $Packages variable. The error is a generic failure when trying to access the namespace. I would suggest adding ErrorAction SilentlyContinue to that line as so. I will try to attach the full error if I can get to it.
$Packages = Get-CimIns

[2020-12-14 18:04] SCCMWalker commented on #21
Here is the error I am seeing the DcmWmiProvider.log. I can trigger the CI and get the error, I then can log in and trigger it and it works. I can also log in, log off, trigger the CI and then it works as well.

In-line script returned error output: Get-CimInstance : Generic failure
At C:\WINDOWS\CCM\SystemTemp\1ca9e7aa-5e2f-49eb-bdae-e27d4071b051.ps1:831 char:25
+ ... $Packages = Get-CimInstance

[2020-12-14 18:25] Ioan-Popovici commented on #21
I need to look at this script already. It's been too long. I'll try to look at it this week. There's a lot that needs changing...

[2020-12-15 18:22] SCCMWalker commented on #21
Thanks Ioan, I am always very happy with your effort.

[2021-01-06 21:13] #9 closed, assigned to Ioan-Popovici

[2022-01-26 19:16] tuffgong31 opened #22 "Error content file HWI Extension sql server 2019"
Hello,

I read the code of the file HWI extension for reporting sql server in sccm

I think the line 231 should be     Release = "2019"; and not     Release = "2017";

Thanks

[2022-01-26 22:03] Ioan-Popovici commented on #22
Indeed it should...
Will change it tomorrow

[2022-04-12 20:04] SoMuchMedia opened #23 "Impossibly Slow"
Trying to simplify to see what is going on.

DECLARE @LocaleID     AS INTEGER       = 1033;
--Select * from fn_DCMDeploymentCompliantDetailsPerAsset(@LocaleID) Where TargetCollectionID='xyx002D2'
--Select top 100 * from fn_DCMDeploymentErrorDetailsPerAsset(@LocaleID)  Where TargetCollectionID='xyz002D2'
Select top 100 * from fn_DCMDeploymentErrorDetailsPerAsset(@LocaleID)

First query (compliant a

[2022-04-14 10:44] Ioan-Popovici commented on #23
Which report is using this query?
You need to select fewer things and join it with a smaller subset on an indexed field if you want it to be faster

Try to use BL_ID or CI_ID

[2022-04-25 12:12] #23 closed, assigned to Ioan-Popovici

[2022-09-20 07:55] PCL-CrisKolkman commented on #19
Hello,

Is there any update on this?
When I run the script (122 folders in **ccmcache**) only 1 folder gets removed.

[2022-09-20 07:56] Ioan-Popovici commented on #19
What parameters are you using?
I'll look into it today and add an option to remove stuff that is not in the UpdateStore class as @RobinBeismann pointed out that some of the data is no longer available there.

[2022-09-20 08:01] PCL-CrisKolkman commented on #19
Hello @Ioan-Popovici,

I have tried multiple, but the latest try was:

[code]

The result is:

![image](https://user-images.githubusercontent.com/97805195/191201710-f72956cd-7a8a-4bcf-8e5e-6d7974305232.png)

[2022-09-20 08:24] Ioan-Popovici commented on #19
Seems ok, it's probably because it cannot fid the status for those updates. I'll modify the script.
I'll probably ask you to run a wmi query to see if that indeed is the case

[2022-09-20 08:27] PCL-CrisKolkman commented on #19
Would be great thank you!
Just let me know and I'll run the query.

[2022-09-28 07:44] PCL-CrisKolkman commented on #19
@Ioan-Popovici Did you by any chance find some time to fix this?

[2022-09-28 09:41] Ioan-Popovici commented on #19
Not yet, today I have some free time

[2022-09-28 14:19] Ioan-Popovici commented on #19
Transferred issue to https://github.com/MEM-Zone/MEM.Zone/issues/7 as I'm planning to re-write the whole script.

New location of the project:
MEM.Zone/Invoke-CCMCacheCleanup

[2022-09-28 14:20] #19 closed, assigned to Ioan-Popovici

[2022-09-28 14:22] Ioan-Popovici commented on #21
Transferred issue to https://github.com/MEM-Zone/MEM.Zone/issues/8 as I'm planning to re-write the whole script.

New location of the project:
MEM.Zone/Invoke-CCMCacheCleanup

[2022-09-28 14:22] #21 closed, assigned to Ioan-Popovici

[2022-09-28 14:23] Ioan-Popovici commented on #22
Transferred issue to https://github.com/MEM-Zone/MEM.Zone/issues/9

[2022-09-28 14:23] #22 closed, assigned to Ioan-Popovici

[2022-09-28 14:24] #16 closed, assigned to Ioan-Popovici